@import '../../node_modules/bootstrap/less/bootstrap';

.pageBody {
    padding-bottom: 100px;
}

.createDeck, .editDeck {
    &:extend(.pageBody);
}

.dupDeckAlert {
    margin: 10px 0 0 0;
}

.deckList {
    list-style-type: none;
    li {
        padding: 5px 0;
        .btn {
            margin: 0 0 3px 10px;
        }
    }
}

.actionPanel {
    .btn {
        margin-left: 5px;
    }
}

.showDeck {
    &:extend(.pageBody);
    .label {
        padding: 5px;
        font-size: 14px;
        font-weight: normal;
    }
}